* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
$main-color: #102a42;

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-color;
  background-color: #f0f5f8;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  border: 2px solid $main-color;
  background: transparent;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
  color: $main-color;
  transition: background 0.25s ease-in-out;
  border-radius: 5px;
  position: relative;
  &:nth-child(2) {
    margin: 0 20px;
  }
  &:hover {
    background: $main-color;
    color: #fff;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  h2 {
    font-size: 64px;
  }
  .counter {
    font-size: 6rem;
    font-weight: 600;
  }
}

.negative {
  color: #ff0000;
}

.positive {
  color: #00900d;
}
